html, body {

    width: 100vw;
    height: 100vh;

}

section { 
    height: 50%;
    display: grid;
    gap : 8px;

    grid-template-columns: auto auto auto;
    align-content: space-around;
}

section > div {

    background-color: aqua;
    font-size: 2em;
    border : 2px solid red;
}