html, body {

    width: 100vw;
    height: 100vh;

}

.item1 {
    grid-area: cell1;
}

.item2 {
    grid-area: cell2;
    background-color: blue;
}

.grid-container {

    display: grid;
    gap : 5px;
    background-color: aquamarine;

    grid-template-areas: 
    "cell1 cell1 cell2 ."
    "cell1 cell1 cell2 .";
}

section > div {

    font-size: 2em;
    background-color: blanchedalmond;
}