/* .box{

    width: 100px;
    height:100px;
   background-color:red
} */

html, body {

    width:100vw;
    height: 100vh;
}

.box {

    width:50%;
    height:10%;
    background-color: blue;

}


.elSz {

    font-size: 1em;

}

.relSz {
    font-size: 3rem;
}