p {
    text-transform:uppercase;
    letter-spacing: 1px;
    word-spacing: 50px;
    text-indent: 200px;
    line-height: 1.5;
    white-space: nowrap;
}

h3 {

    font-size: 5em;
    text-shadow: 5px 5px  greenyellow;
}
